{% extends '@slider/index.twig' %}

{% block breadcrumbs %}
    {% import 'macro/breadcrumbs.twig' as breadcrumbs %}

    {{ parent() }}
    {{ breadcrumbs.item(environment.generateUrl('slider', 'view', { 'id': slider.id }), slider.title|title) }}
{% endblock %}

{% block toolbar %}
    {% import 'macro/toolbar.twig' as toolbar %}

    {{ toolbar.button('choose-import', translate('Add Images'), { 'icon': 'upload' }) }}

	{% if slider.plugin != 'coin' and slider.plugin != 'comparison' %}
          {{ toolbar.button('choose-map', translate('Add Map'), { 'icon': 'globe', 'dataset': { 'slider-id': slider.id } }) }}
	{% endif  %}



    {% if environment.isPro() %}
        {% if slider.plugin != 'coin' %}
            {{ toolbar.button('uploadVideo', translate('Add Video'), { 'id': 'uploadVideo','icon': 'video-camera', 'dataset': { 'folder-id': '0', 'slider-id': slider.id } }) }}
        {% else  %}
            {{ toolbar.button('uploadVideoCoin', translate('Add Video'), { 'id': 'uploadVideoCoin', 'icon': 'video-camera' }) }}
        {% endif %}
    {% else %}
        <button id="free-video" class="button button-primary">
            <i class="fa fa-video-camera"></i>
                Import Video
        </button>
    {% endif %}

    {#{{ toolbar.primaryUrl('upload-images', environment.generateUrl('slider', 'add', { 'id': slider.id }), environment.translate('Add images'), { 'icon': 'upload' }) }}#}
    {{ toolbar.button('preview-trigger', translate('Preview'), { 'icon': 'eye', 'container': { 'style': {'float': 'right'}} }) }}
    {{ toolbar.button('change', translate('Change Slider') , { 'icon': 'wrench' }) }}
    <li>
        <a class="button" id="openSettingsImportDialog" href="">
            <i class="fa fa-copy"></i> {{ translate('Import settings') }}
        </a>
    </li>

    {#{{ toolbar.separator() }}#}
    {#Uncomment to enable delete items button#}
    {#{{ toolbar.icon('delete-element', 'trash-o') }}

    {{ toolbar.separator() }}#}

    {% if slider.plugin == 'bx' %}
        {% if environment.isPro() %}
            {{ toolbar.icon('visual-editor', 'edit', {}, 'Builder') }}
        {% else %}
            <button id="free-builder" class="button button-primary">
                <i class="fa fa-edit"></i>
                Builder
            </button>
        {% endif %}
    {% endif %}

    {{ toolbar.primary('save', translate('Save'), { 'icon': 'check', 'container': { 'style': {'float': 'right'} }, 'custom': {'form': 'settings'} }) }}
    {{ toolbar.button('delete', translate('Delete'), { 'icon': 'trash-o', 'container': { 'style': {'float': 'right'} }, 'dataset': { 'id': slider.id, 'redirect-uri': environment.generateUrl('slider'), 'confirm': translate('Do you really want to delete ') ~ slider.title ~ '?' } }) }}
{% endblock %}

{% block content %}
    {% import '@ui/type.twig' as view_type %}
    {% import '@core/form.twig' as form %}
    {% import 'macro/common.twig' as common %}
    {% import 'macro/toolbar.twig' as toolbar %}

    {% set small = 0 %}
    {% for image in slider.images %}
        {% if image.attachment.sizes.full.width < slider.settings.properties.width %}
            {% if image.type == 'image' and (image.attachment.filename ends with '.mp4') is same as(false) %}
                {% set small = small + 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if small > 0 %}
        <div class="error">
            <p><strong>Warning:</strong> {{ small }} {% if small > 1 %}photos{% else %}photo{% endif %} are smaller than slider width (<span class="sliderWidth">{{ slider.settings.properties.width }}</span>px)</p>
        </div>
    {% endif %}

    <div id="image-area" class="half-page-left">
        {% if environment.isPro() and slider.plugin != 'bx' and slider.plugin != 'comparison' %}
            <table class="form-table">
                <thead>
                    {% set lastPostEnabled = slider.settings.autoposts.enabled|default('false') == 'true' %}
                    {{ form.row(translate('Auto Posts'),
                        form.radio('autoposts[enabled]', 'true', {'id':'auto-posts-enable'}|merge(lastPostEnabled ? {'checked':'checked'} : {})) ~
                        form.label('auto-posts-enable', translate('Enable')) ~ 
                        form.radio('autoposts[enabled]', 'false', {'id':'auto-posts-disable'}|merge(lastPostEnabled ? {} : {'checked':'checked'})) ~
                        form.label('auto-posts-disable', translate('Disable')), 'auto-posts', true) }}
                </thead>
                <tbody style="display:none;">
                     {{ form.row(translate('Number of post'),
                        form.input('number', 'autoposts[quantity]', slider.settings.autoposts.quantity|default(5), {'style': 'width: 140px;' })) }}
					<tr>		
						<td style="padding-left:0px;font-weight: bold;">
							<label>{{ translate('Auto Posts Categories') }}</label>
						</td>
						<td style="padding-left:10px;">
							<select style="width:240px;" data-placeholder="{{ translate('Select categories') }}" multiple="multiple" id="autopostCategories" name="autoposts[categories][]">
								<option value="all"
                                    {% if 'all' in slider.settings.autoposts.categories %}
                                        selected="selected" 
                                    {% endif %}
                                >{{ translate('All') }}</option>
                                {% for category in all_categories({'posts_per_page': -1,'hide_empty':0}) %}
									<option 
                                        {% if category.cat_ID in slider.settings.autoposts.categories %} selected="selected" 
                                        {% endif %}
                                        value="{{ category.cat_ID }}"
                                    >{{ category.name  }}</option>
								{% endfor %}
							</select>
						</td>
					</tr>		
                </thead>
            </table>
            <div class="separator"></div>
            
            <div class="post-and-pages">               
                <button class="button remove-post" style="display: block;float:right;margin: auto 0 0 auto;"><i class="fa fa-trash-o"></i></button>
                <h4>{{ translate('Posts and Pages') }}</h4>
                <table id="posts-table"></table>
                <div class="separator"></div>
            </div>

            <div class="post-and-pages-select">
                <h4>{{ translate('Select posts to show') }}</h4>
                <div class="select-group">               
                    <label for="post-feed-selectPages">{{ translate('Pages: ') }}</label>
                    <select id="post-feed-selectPages" style="max-width: 240px;">
                        {% for page in all_pages({'posts_per_page': -1}) %}
                            <option value="{{ page.ID }}">{{ page.post_title }}</option>
                        {% endfor %}
                    </select>
                    <button class="button add-page" style="height: 29px; line-height: 1px; float: right;">{{ translate('Add page') }}</button>
                </div>
                <div class="select-group">
                    <label for="post-feed-selectPosts">{{ translate('Posts: ') }}</label>
                    <select id="post-feed-selectPosts" style="max-width: 240px;">
                        {% for post in all_posts({'posts_per_page': -1}) %}
                            <option value="{{ post.ID }}">{{ post.post_title }}</option>
                        {% endfor %}
                    </select>
                    <button class="button add-post" style="height: 29px; line-height: 1px; float: right;">{{ translate('Add post') }}</button>
                </div>
                <div class="separator"></div>
            </div>
        <div class="additional-posts-settings">
            <h4>{{ translate('Additional Posts Settings') }}</h4>
            <div class="select-group">
                <label for="post-feed-selectShowTitle">{{ translate('Show title: ') }}</label>
                <select id="post-feed-selectShowTitle" style="max-width: 240px; float: right;">
                    <option {% if slider.settings.post_settings.title|default('true') == 'true' %} selected="selected" {% endif %} value="true">{{ translate('Yes') }}</option>
                    <option {% if slider.settings.post_settings.title|default('true') == 'false' %} selected="selected" {% endif %} value="false">{{ translate('No') }}</option>
                </select>
            </div>
            <div class="select-group">
                <label for="post-feed-selectOptimizeTitle">{{ translate('Optimize title: ') }}</label>
                <select id="post-feed-selectOptimizeTitle" style="max-width: 240px; float: right;">
                    <option {% if slider.settings.post_settings.optimize_title|default('true') == 'true' %} selected="selected" {% endif %} value="true">{{ translate('Yes') }}</option>
                    <option {% if slider.settings.post_settings.optimize_title|default('true') == 'false' %} selected="selected" {% endif %} value="false">{{ translate('No') }}</option>
                </select>
            </div>
            <div class="select-group">
                <label for="post-feed-selectShowDate">{{ translate('Show date: ') }}</label>
                <select id="post-feed-selectShowDate" style="max-width: 240px; float: right;">
                    <option {% if slider.settings.post_settings.date|default('true') == 'true' %} selected="selected" {% endif %} value="true">{{ translate('Yes') }}</option>
                    <option {% if slider.settings.post_settings.date|default('true') == 'false' %} selected="selected" {% endif %} value="false">{{ translate('No') }}</option>
                </select>
            </div>
            <div class="select-group">
                <label for="post-feed-selectShowExcerpt">{{ translate('Show excerpt: ') }}</label>
                <select id="post-feed-selectShowExcerpt" style="max-width: 240px; float: right;">
                    <option {% if slider.settings.post_settings.excerpt|default('false') == 'true' %} selected="selected" {% endif %} value="true">{{ translate('Yes') }}</option>
                    <option {% if slider.settings.post_settings.excerpt|default('false') == 'false' %} selected="selected" {% endif %} value="false">{{ translate('No') }}</option>
                </select>
            </div>
            <div class="select-group">
                <label for="post-feed-selectShowReadMore">{{ translate('Show "Read more": ') }}</label>
                <select id="post-feed-selectShowReadMore" style="max-width: 240px; float: right;">
                    <option {% if slider.settings.post_settings.read_more|default('true') == 'true' %} selected="selected" {% endif %} value="true">{{ translate('Yes') }}</option>
                    <option {% if slider.settings.post_settings.read_more|default('true') == 'false' %} selected="selected" {% endif %} value="false">{{ translate('No') }}</option>
                </select>
            </div>
            <div class="separator"></div>
        </div>
        {% endif %}
        {% if slider.entities is not empty %}
            <button id="delete-element" class="button" style="display: block;float:right;margin: auto 0 0 auto;"><i class="fa fa-fw fa-trash-o"></i></button>
        {% endif %}
        <h4>{{ translate('Media') }}</h4>
        {#<button id="button-select" class="button " data-enabled="none|one|many|all" data-toolbar-button="" value="select" name="Select all" style="margin-left: 24px;">
            <i class="fa fa-fw fa-check"></i>
        </button>#}
        {% if slider.entities is not empty %}
            {{ view_type.list_view(slider) }}
        {% else %}
            <h2 class="header-muted" style="text-align: center;">
                {{ translate("You haven’t got any images yet.") }}<br>
                <a id="add-images" href="#">Add Images</a>
            </h2>
        {% endif %}
        <div id="settingsImportDialog" title="Import" hidden>
            <div class="import">
                <input name="sliderId" value="{{ slider.id }}" type="hidden">
                {% if similar|length > 0 %}
                    <p>{{ translate('Import settings from gallery') }}</p>
                    <select class="list">
                        {% for slideItem in similar %}
                            <option value="{{ slideItem.id }}">{{ slideItem.title }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <p>{{ translate('Here you can import settings from other sliders, but right now, you have only one slider, create more - and see how it works') }}</p>
                {% endif %}
            </div>
        </div>

		<input type="hidden" id="sggMsgYouMustEnterURL" value="{{ translate('You must enter URL.') }}"/>
		<input type="hidden" id="sggMsgYouMustEnterYoutubeOrVimeoUrl" value="{{ translate('You must enter Youtube or Vimeo URL.') }}"/>
		<input type="hidden" id="sggMsgYouMustEnterOnlyYoutubeUrl" value="{{ translate('You must enter only Youtube URL.') }}"/>
    </div>
    <div id="settings-area" class="half-page-right settings">
        <form id="change-name" method="post" action="#" style="margin-left: 20px;">
            <input name="id" type="hidden" value="{{ slider.id }}"/>
            <input name="route[module]" value="slider" type="hidden"/>
            <input name="route[action]" value="changePluginName" type="hidden"/>
            <input name="action" value="supsystic-slider" type="hidden"/>
            <table class="form-table not-last">
                <thead>
                    <tr data-tab="properties" id="properties">
                        <th scope="row">
                            <label for="propsShortcode">
                                {{ translate('Shortcode') }}
                            </label>
                        </th>
                        <td>
                            <input type="text" class="rsCopyTextCode shortcode" value="[supsystic-slider id={{ slider.id }} position=&#34;center&#34;]" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            {{ translate('Slider name') }}
                        </th>
                        <td>
                            {{ form.input('text', 'title', slider.title) }}
                        </td>
                    </tr>
                </thead>
            </table>
        </form>
        <form id="settings" method="post" action="{{ environment.generateUrl('slider', 'saveSettings') }}">
            <input id="sliderID" name="id" value="{{ slider.id }}" type="hidden"/>
            <table class="form-table">
                <thead>
                <tr>
                    <th>
                        <label for="enableForMembership" class="rs-sett-plugin-member-lbl">{{ translate('Enable for Membership:') }}</label>
                    </th>
                    <td>
                        {% if pageOptions.isMembershipPluginActive == 'true' %}
                            <select id="enableForMembership" style="width: auto;" name="membership[enable]" {{ disableMembershipOpt }} >
                                <option value="0" {% if slider.settings.membership.enable == '0' %}selected="selected"{% endif %}>
                                    {{ translate('No') }}
                                </option>
                                <option value="1" {% if slider.settings.membership.enable == '1' %}selected="selected"{% endif %}>
                                    {{ translate('Yes') }}
                                </option>
                            </select>
                        {% else %}
                            <div class="rs-membership-plug-info">
                                {{ translate('You need to install Membership by Supsystic to use this feature. ') }}
                                <a target="_blank" href="{{ pageOptions.membershipInstallUrl }}">Install</a>
                                {{ translate(' plugin from your admin area, or visit it\'s official page on Wordpress.org ') }}
                                <a target="_blank" href="{{ pageOptions.membershipInstallWpUrl }}">here</a>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="propsSliderWidth">
                            {{ translate('Slider width') }}
                        </label>
                    </th>
                    <td>
                        <input class="regular-text" type="number" style="display: inline; width: 140px;"
                               value="{{ slider.settings.properties.width }}"
                               min="0"
                               name="properties[width]"
                               id="propsSliderWidth"/>
                        {% if slider.plugin == 'bx' or  slider.plugin == 'jssor' %}
                            <select class="regular-text"
                                    name="properties[widthType]"
                                    style="display: inline; width: auto; height: inherit; position: relative; bottom: 2px;">
                                <option value="px">pixels</option>
                                <option value="%">percents</option>
                            </select>
                        {% else %}
                            <span class="regular-text" style="display: inline; height: inherit;position: relative; bottom: 2px;">
                                {{ translate('pixels') }}
                            </span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="propsSliderHeight">
                            {{ translate('Slider height') }}
                        </label>
                    </th>
                    <td style="float: left;">
                        <input class="regular-text" type="number"
                               style="display: inline; width: 140px;"
                               value="{{ slider.settings.properties.height }}"
                               min="0"
                               name="properties[height]"
                               id="propsSliderHeight"/>
                        <span class="regular-text" style="display: inline; height: inherit; position: relative; bottom: 2px;">
                            {{ translate('pixels') }}
                        </span>
                    </td>
                </tr>
                {% block form %}{% endblock %}
                </thead>
            </table>
            {% block socialSharing %}
                {% set socialSharingOptsDisplay = '' %}
                {% set sliderSharingOptsDisplay = '' %}
                {% set imageSharingOptsDisplay = '' %}

                {% if slider.settings.socialSharing.status is empty or slider.settings.socialSharing.status == 'disable' %}
                    {% set socialSharingOptsDisplay = 'display: none;' %}
                {% endif %}
                {% if slider.settings.socialSharing.sliderSharing.status == 'disable' %}
                    {% set sliderSharingOptsDisplay = 'display: none;' %}
                {% endif %}
                {% if slider.settings.socialSharing.imageSharing.status == 'disable' %}
                    {% set imageSharingOptsDisplay = 'display: none;' %}
                {% endif %}

                <table class="form-table no-border">
                    <thead>
                        <tr>
                            <th scope="row">
                                <label style="font-size: 20px;">{{ translate('Social Sharing') }}</label>
                            </th>
                            <td>
                                {% for value in ['enable', 'disable'] %}
                                    <label style="margin-right: 10px;">
                                        <input type="radio" name="socialSharing[status]" id="socialSharing{{ value|capitalize }}" value="{{ value }}"
                                                {% if slider.settings.socialSharing.status == value or (slider.settings.socialSharing.status is empty and value == 'disable') %}
                                            checked="checked"
                                                {% endif %}/>
                                        <span>{{ translate(value|capitalize) }}</span>
                                    </label>
                                {% endfor %}
                            </td>
                        </tr>
                    </thead>
                    <tbody class="socialSharingOpts" style="{{ socialSharingOptsDisplay }}">
                        {% if slider.settings.socialSharing.pluginInstalled %}
                            {% if slider.settings.socialSharing.projectsList|length %}
                                <tr>
                                    <th scope="row">
                                        <label>{{ translate('Buttons Project') }}</label>
                                    </th>
                                    <td>
                                        <select name="socialSharing[projectId]">
                                            {% for i, project in slider.settings.socialSharing.projectsList %}
                                                <option value="{{ i }}"
                                                        {% if slider.settings.socialSharing.projectId == i %}
                                                            selected="selected"
                                                        {% endif %}
                                                        >{{ project }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <label>{{ translate('Slider Sharing') }}</label>
                                    </th>
                                    <td>
                                        {% for value in ['enable', 'disable'] %}
                                            <label style="margin-right: 10px;">
                                                <input type="radio" name="socialSharing[sliderSharing][status]" value="{{ value }}"
                                                        {% if slider.settings.socialSharing.sliderSharing.status == value or (slider.settings.socialSharing.sliderSharing.status is empty and value == 'enable') %}
                                                    checked="checked"
                                                        {% endif %}/>
                                                <span>{{ translate(value|capitalize) }}</span>
                                            </label>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr class="sliderSharingOpts" style="{{ sliderSharingOptsDisplay }}">
                                    <th scope="row">
                                        <label>{{ translate('Buttons Position') }}</label>
                                    </th>
                                    <td>
                                        <select name="socialSharing[sliderSharing][buttonsPosition]">
                                            {% for value, name in {'top': 'top', 'bottom': 'bottom', 'all': 'top and bottom'} %}
                                                <option value="{{ value }}"
                                                        {% if slider.settings.socialSharing.sliderSharing.buttonsPosition == value %}
                                                            selected="selected"
                                                        {% endif %}
                                                        >{{ name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                {% if slider.plugin != 'coin' and slider.plugin != 'comparison' %}
                                    <tr>
                                        <th scope="row">
                                            <label>{{ translate('Image Sharing') }}</label>
                                        </th>
                                        <td>
                                            {% for value in ['enable', 'disable'] %}
                                                <label style="margin-right: 10px;">
                                                    <input type="radio" name="socialSharing[imageSharing][status]" value="{{ value }}"
                                                            {% if slider.settings.socialSharing.imageSharing.status == value or (slider.settings.socialSharing.imageSharing.status is empty and value == 'enable') %}
                                                        checked="checked"
                                                            {% endif %}/>
                                                    <span>{{ translate(value|capitalize) }}</span>
                                                </label>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr class="imageSharingOpts" style="{{ imageSharingOptsDisplay }}">
                                        <th scope="row">
                                            <label>{{ translate('Buttons Position') }}</label>
                                        </th>
                                        <td>
                                            <select name="socialSharing[imageSharing][buttonsPosition]" class="buttonsPosition">
                                                {% for value in ['top', 'bottom', 'middle'] %}
                                                    <option value="{{ value }}"
                                                            {% if slider.settings.socialSharing.imageSharing.buttonsPosition == value %}
                                                                selected="selected"
                                                            {% endif %}
                                                            >{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="imageSharingOpts" style="{{ imageSharingOptsDisplay }}">
                                        <th scope="row">
                                            <label>{{ translate('Buttons Align') }}</label>
                                        </th>
                                        <td>
                                            <select name="socialSharing[imageSharing][buttonsAlign]" class="buttonsAlign">
                                                {% for value in ['left', 'right', 'center'] %}
                                                    <option value="{{ value }}" name="{{ value }}"
                                                            {% if slider.settings.socialSharing.imageSharing.buttonsAlign == value or slider.settings.socialSharing.imageSharing.buttonsAlign is empty and value == 'center'%}
                                                                selected="selected"
                                                            {% endif %}
                                                            >{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% else %}
                                <tr>
                                    <td colspan="2">
                                        <span>{{ translate('You have no Social Sharing projects for now.')}} </span>
                                        <a href="/wp-admin/admin.php?page=supsystic-social-sharing&module=projects&action=add" target="_blank" rel="noopener noreferrer">
                                            {{ translate('Create your first project')}}
                                        </a>
                                        <span> {{ translate('then just reload page with your Slider settings, and you will see list with available Social Projects for your Slider.')}}</span>
                                    </td>
                                </tr>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td colspan="2">
                                    <span>{{ translate('You need to install Social Share Buttons by Supsystic to use this feature.')}} </span>
                                    <a target="_blank" rel="noopener noreferrer" href="/wp-admin/plugin-install.php?tab=search&type=term&s=Social+Share+Buttons+by+Supsystic">
                                        {{ translate('Install plugin')}}
                                    </a>
                                    <span> {{ translate("from your admin area, or visit it's official page on Wordpress.org") }} </span>
                                    <a target="_blank" rel="noopener noreferrer" href="https://wordpress.org/plugins/social-share-buttons-by-supsystic/"> {{ translate('here.')}}</a>
                                </td>

                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            {% endblock %}
            {% if environment.isPro() and slider.plugin != 'bx' %}
                <input name="post_settings[title]" type="hidden" value="{{ slider.settings.post_settings.title|default('true') }}"/>
                <input name="post_settings[optimize_title]" type="hidden" value="{{ slider.settings.post_settings.optimize_title|default('true') }}"/>
                <input name="post_settings[date]" type="hidden" value="{{ slider.settings.post_settings.date|default('true') }}"/>
                <input name="post_settings[excerpt]" type="hidden" value="{{ slider.settings.post_settings.excerpt|default('false') }}"/>
                <input name="post_settings[read_more]" type="hidden" value="{{ slider.settings.post_settings.read_more|default('true') }}"/>
            {% endif %}
        </form>

        <div id="changePluginWindow" class="supsystic-plugin" title="{{ translate('Change Slider Type') }}" style="display: none;">
            <form id="changePlugin">
                <input name="id" type="hidden" value="{{ slider.id }}"/>
                <input name="route[module]" value="slider" type="hidden"/>
                <input name="route[action]" value="changePlugin" type="hidden"/>
                <input name="action" value="supsystic-slider" type="hidden"/>

                <h3>{{ translate('Select plugin') }}</h3>

                {% for plugin in environment.getModule('slider').getAvailableSliders() %}
                    <div>
                        <input type="radio" name="plugin"
                               id="plugin-{{ plugin.getModuleName() }}"
                               value="{{ plugin.getModuleName() }}"
                               {% if slider.plugin == plugin.getModuleName() %}checked="checked"{% endif %}/>
                        <h3 style="display: inline-block;">
                            {{ plugin.getSliderName() }}
                            {{ form.tooltip('general-slider-' ~ plugin.getModuleName(), { 'border': '1px solid black;', 'padding': '1px 5px;', 'border-radius': '50%' }) }}
                        </h3>
                        <br/>
                    </div>
                {% endfor %}
                    <div style="{% if environment.isPro() %}display: none;{% endif %}">
                        <input type="radio" disabled>
                        <h3 style="display: inline-block;">
                            {{ translate('Jssor PRO') }}
                            {{ form.tooltip('general-slider-jssor', { 'border': '1px solid black;', 'padding': '1px 5px;', 'border-radius': '50%' }) }}
                        </h3>
                        <a href="http://supsystic.com/plugins/slider/?utm_source=plugin&utm_medium=post&utm_campaign=slider" class="button button-primary" style="display: inline-block; margin-top: 14px;">Get PRO</a>
                        <br/>
                    </div>
                <div style="{% if environment.isPro() %}display: none;{% endif %}">
                    <input type="radio" disabled>
                    <h3 style="display: inline-block;">
                        {{ translate('Swiper PRO') }}
                        {{ form.tooltip('general-slider-swiper', { 'border': '1px solid black;', 'padding': '1px 5px;', 'border-radius': '50%' }) }}
                    </h3>
                    <a href="http://supsystic.com/plugins/slider/?utm_source=plugin&utm_medium=post&utm_campaign=slider" class="button button-primary" style="display: inline-block; margin-top: 14px;">Get PRO</a>
                    <br/>
                </div>
                <div style="{% if environment.isPro() %}display: none;{% endif %}">
                    <input type="radio" disabled>
                    <h3 style="display: inline-block;">
                        {{ translate('Comparison PRO') }}
                        {{ form.tooltip('general-slider-comparison', { 'border': '1px solid black;', 'padding': '1px 5px;', 'border-radius': '50%' }) }}
                    </h3>
                    <a href="http://supsystic.com/plugins/slider/?utm_source=plugin&utm_medium=post&utm_campaign=slider" class="button button-primary" style="display: inline-block; margin-top: 14px;">Get PRO</a>
                    <br/>
                </div>
                <p class="description">
                    {{ translate('Please note:') }}
                    {{ translate('Current settings will be removed without ability to restore.') }}
                </p>
                <div style="float: right;">
                    <button id="changePlugin_changeBtn" class="button button-primary">
                        {{ translate('Change') }}
                    </button>
                    <button id="changePlugin_cancelBtn" class="button button-primary">
                        {{ translate('Cancel') }}
                    </button>
                </div>
            </form>
        </div>

        <div id="avChangePluginWindow" class="supsystic-plugin" title="{{ translate('Import video') }}" style="display: none;">
            <form id="avChangePlugin">
                <input name="id" type="hidden" value="{{ slider.id }}"/>
                <input name="route[module]" value="slider" type="hidden"/>
                <input name="route[action]" value="changePlugin" type="hidden"/>
                <input name="action" value="supsystic-slider" type="hidden"/>

                <p>{{ translate('Unfortunately Coin slider don\'t support video. Would you like to change slider?') }}</p>
                <h3>{{ translate('Select plugin') }}</h3>

                {% for plugin in environment.getModule('slider').getAvailableSliders() %}
                    {% if plugin.getModuleName() != 'coin' %}
                        <div>
                            <input type="radio" name="plugin"
                                id="plugin-{{ plugin.getModuleName() }}"
                                value="{{ plugin.getModuleName() }}"
                                {% if slider.plugin == plugin.getModuleName() %}checked="checked"{% endif %}/>
                            <h3 style="display: inline-block;">
                                {{ plugin.getSliderName() }}
                                {{ form.tooltip('general-slider-' ~ plugin.getModuleName(), { 'border': '1px solid black;', 'padding': '1px 5px;', 'border-radius': '50%' }) }}
                            </h3>
                            <br/>
                        </div>
                    {% endif  %}
                {% endfor %}
                <div style="{% if environment.isPro() %}display: none;{% endif %}">
                    <input type="radio" disabled>
                    <h3 style="display: inline-block;">
                        {{ translate('Jssor PRO') }}
                        {{ form.tooltip('general-slider-jssor', { 'border': '1px solid black;', 'padding': '1px 5px;', 'border-radius': '50%' }) }}
                    </h3>
                    <a href="http://supsystic.com/plugins/slider/?utm_source=plugin&utm_medium=post&utm_campaign=slider" class="button button-primary" style="display: inline-block; margin-top: 14px;">Get PRO</a>
                    <br/>
                </div>
                <p class="description">
                    {{ translate('Please note:') }}
                    {{ translate('Current settings will be removed without ability to restore.') }}
                </p>
                <div style="float: right;">
                    <button id="avChangePlugin_changeBtn" class="button button-primary">
                        {{ translate('Change') }}
                    </button>
                    <button id="avChangePlugin_cancelBtn" class="button button-primary">
                        {{ translate('Cancel') }}
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="preview-window" style="display: none;" title="Preview of {{ slider.title }}" data-id="{{ slider.id }}">
        <img src="{{ environment.getConfig().get('admin_url') }}images/wpspin_light.gif" alt="" style="display: block; margin: 10px auto;"/>
    </div>

    <div id="visual-editor-window" title="{{ translate('Slider Template Design Builder') }}" data-id="{{ slider.id }}" data-loaded="false">
    </div>

    <div id="free-video-notice" class="supsystic-plugin" title="{{ translate('Get PRO') }}" data-id="{{ slider.id }}" hidden>
        <span style="text-align: center;"><h3>Notice</h3>You can import YouTube and Vimeo videos in PRO version</span>
        <div style="text-align: center;">
            <a class="button button-primary" href="http://supsystic.com/plugins/slider?utm_source=plugin&utm_medium=video&utm_campaign=slider" style="margin-bottom: 20px; margin-top: 20px; text-align: center;">
                <i class="fa fa-unlock"></i>
                {{ translate('Get PRO') }}
            </a>
        </div>
    </div>

    <div id="bx-editor-notice" class="supsystic-plugin" title="{{ translate('Get PRO') }}" data-id="{{ slider.id }}" hidden>
        <a href="http://supsystic.com/plugins/slider?utm_source=plugin&utm_medium=builder&utm_campaign=slider" style="box-shadow: none !important;">
            <img src="{{ environment.getModule('slider').getLocationUrl() }}/assets/images/pro_builder.jpg">
        </a>
        <div style="text-align: center;">
            <a class="button button-primary button-hero" href="http://supsystic.com/plugins/slider?utm_source=plugin&utm_medium=builder&utm_campaign=slider" style="width: 400px; margin-bottom: 20px; text-align: center;">
                <i class="fa fa-unlock fa-2x"></i>
                {{ translate('Get PRO') }}
            </a>
        </div>
    </div>

    <div id="choose-import-dialog" class="supsystic-plugin" title="{{ translate('Choose import source') }}" style="text-align: center;" hidden>
        <button id="import-images" class="button button-primary button-hero" data-folder-id="0" data-slider-id="{{ slider.id }}" data-upload="">
            <i class="fa fa-upload fa-2x"></i>
            {{ translate('Import from WordPress Media Library') }}
        </button>
        <h3>{{ translate('Import from social networks') }}</h3>
        <a class="button button-primary button-hero" href="{{ environment.generateUrl('insta', 'index', {'id': slider.id}) }}" style="width: 400px;margin-bottom: 20px;">
            <i class="fa fa-instagram fa-2x"></i>
            {{ translate('Import from your Instagram account') }}
        </a>
        {% if environment.isPro() == true %}
            <a class="button button-primary button-hero" href="{{ environment.generateUrl('flickr', 'index', {'id': slider.id}) }}" style="width: 400px;margin-bottom: 20px;">
                <i class="fa fa-flickr fa-2x"></i>
                {{ translate('Import from your Flickr account') }}
            </a>
            <a class="button button-primary button-hero" href="{{ environment.generateUrl('tumblr', 'index', {'id': slider.id}) }}" style="width: 400px;margin-bottom: 20px;">
                <i class="fa fa-tumblr fa-2x"></i>
                {{ translate('Import from your Tumblr account') }}
            </a>
            <a class="button button-primary button-hero" href="{{ environment.generateUrl('facebook', 'index', {'id': slider.id}) }}" style="width: 400px;margin-bottom: 20px;">
                <i class="fa fa-facebook fa-2x"></i>
                {{ translate('Import from your Facebook account') }}
            </a>

            <h3 style="margin-top: 0px">{{ translate('Import from cloud services') }}</h3>
            <a class="button button-primary button-hero" href="{{ environment.generateUrl('ftp', 'index', {'id': slider.id}) }}" style="width: 400px;margin-bottom: 20px;">
                <i class="fa fa-file-image-o fa-2x"></i>
                {{ translate('Import from your FTP server') }}
            </a>
            <a class="button button-primary button-hero" href="{{ environment.generateUrl('googledrive', 'index', {'id': slider.id}) }}" style="width: 400px;margin-bottom: 20px;">
                <i class="fa fa-google fa-2x"></i>
                {{ translate('Import from your Google Drive account') }}
            </a>
        {% else %}
            <h3>{{ translate('Get Pro to enable import') }}</h3>
            <a class="button button-primary button-hero" href="https://supsystic.com/plugins/slider/" style="width: 400px;margin-bottom: 20px;">
                <i class="fa fa-unlock fa-2x"></i>
                {{ translate('Get PRO') }}
            </a>
            <button class="button button-primary button-hero gallery disabled" data-folder-id="0"
                    style="width: 400px;margin-bottom: 20px;"
                    data-src="https://supsystic.com/documentation/slider-flickr/"
                    data-gallery-id="{{ slider.id }}" data-upload >
                <i class="fa fa-flickr fa-2x"></i>
                {{ translate('Import from your Flickr account') }}
            </button>
            <button class="button button-primary button-hero gallery disabled" data-folder-id="0"
                    style="width: 400px;margin-bottom: 20px;"
                    data-src="https://supsystic.com/documentation/slider-tumblr/"
                    data-gallery-id="{{ slider.id }}" data-upload>
                <i class="fa fa-tumblr fa-2x"></i>
                {{ translate('Import from your Tumblr account') }}
            </button>
            <button class="button button-primary button-hero gallery disabled" data-folder-id="0"
                    style="width: 400px;margin-bottom: 20px;"
                    data-src="https://supsystic.com/documentation/download-images-facebook/"
                    data-gallery-id="{{ slider.id }}" data-upload>
                <i class="fa fa-facebook fa-2x"></i>
                {{ translate('Import from your Facebook account') }}
            </button>
            <button class="button button-primary button-hero gallery disabled" data-folder-id="0"
                    style="width: 400px;margin-bottom: 20px;"
                    data-src="https://supsystic.com/documentation/upload-images-google-drive/"
                    data-gallery-id="{{ slider.id }}" data-upload>
                <i class="fa fa-file-image-o fa-2x"></i>
                {{ translate('Import from your FTP server') }}
            </button>
            <button class="button button-primary button-hero gallery disabled" data-folder-id="0"
                    style="width: 400px;margin-bottom: 20px;"
                    data-src="https://supsystic.com/documentation/upload-images-google-drive/"
                    data-gallery-id="{{ slider.id }}" data-upload>
                <i class="fa fa-google fa-2x"></i>
                {{ translate('Import from your Google Drive account') }}
            </button>
        {% endif %}
    </div>

    <div id="choose-map-dialog" class="supsystic-plugin" title="{{ translate('Choose map to import') }}" style="text-align: center;" hidden>
        {% if maps is empty %}
            {{ common.message('gmp', 'no_plugin') }}
        {% elseif maps|length == 1 %}
            {{ common.message('gmp', 'no_data') }}
        {% else %}
            <form id="uploadMapForm">
                <table class="form-table">
                    <thead>
                    <tr>
                        <th scope="row" style="width: 100px;">
                            <label for="supsystic-plugin-gmp">{{ translate('Map') }}</label>
                        </th>
                        <td>
                            <select name="map_id" id="supsystic-plugin-gmp" style="width: 100%;">
                                {% for i, map in maps %}
                                    <option value="{{ i }}" {% if i == 0 %}disabled selected style="color: #999;"{% endif %}>{{ map }}</option>
                                {% endfor %}
                            </select>
                            <input value="supsystic-slider" name="action" type="hidden"/>
                            <input value="photos" name="route[module]" type="hidden"/>
                            <input value="importMap" name="route[action]" type="hidden"/>
                            <p class="description">* {{ translate('from Google Maps Easy plugin') }}</p>
                            <span id="uploadMapFormError" class="description" style="display: block; color: red;"></span>
                        </td>
                    </tr>
                    </thead>
                </table>
            </form>
            <div style="float: right;">
                <button id="uploadMapModal_importBtn" class="button button-primary">
                    {{ translate('Import') }}
                </button>
                <button id="uploadMapModal_closeBtn" class="button button-primary">
                    {{ translate('Close') }}
                </button>
            </div>
        {% endif %}

    </div>

    <div id="uploadVideoModal" class="supsystic-plugin" title="{{ translate('Import video') }}" style="display: none;">
        <form id="uploadVideoForm">
            <table class="form-table">
                <thead>
                <tr>
                    <th scope="row" style="width: 100px;">
                        <label for="videoUrl">
                            {{ translate('Video URL:') }}
                        </label>
                    </th>
                    <td>
                        <input class="regular-text" type="text" name="url" id="videoUrl" style="width: 100%;"/>
                        <p class="description">
                            {% if slider.plugin == 'bx' %}
                                {% set sources = ['Youtube', 'Vimeo'] %}
                            {% else %}
                                {% set sources = ['Youtube'] %}
                            {% endif %}
                            {{ translate('Supported platforms: %s.')|format(sources|join(', ')) }}
                        </p>
                        <p id="uploadVideoFormError" class="description" style="color:red;"></p>
                    </td>
                </tr>
                </thead>
            </table>
            <input value="supsystic-slider" name="action" type="hidden"/>
            <input value="photos" name="route[module]" type="hidden"/>
            <input value="importVideo" name="route[action]" type="hidden"/>
        </form>
        <div style="float: right;">
            <button id="uploadVideoModal_importBtn" class="button button-primary">
                {{ translate('Import') }}
            </button>
            <button id="uploadVideoModal_closeBtn" class="button button-primary">
                {{ translate('Close') }}
            </button>
        </div>
    </div>

    <script>
        (function($) {
            $(document).ready(function() {
                jQuery('#button-select, #jqgh_jqgrid-htable-img-list_id').on('click', function() {
                    if($(this).val() == 'select') {
                        jQuery('[name="image[]"]').each(function() {
                            $(this).attr('checked', 'checked').iCheck('update');
                        });
                        $(this).val('deselect');
                    } else {
                        jQuery('[name="image[]"]').each(function() {
                            $(this).removeAttr('checked').iCheck('update');
                        });
                        $(this).val('select');
                    }
                });

                $('#jqgh_jqgrid-htable-img-list_id').attr('value', 'select');

                jQuery('[name="properties[widthType]"] option').each(function() {
                    if($(this).val() == "{{ slider.settings.properties.widthType }}") {
                        $(this).attr('selected', 'selected');
                    }
                });
                jQuery('#choose-import-dialog').on('click' , 'button.disabled', function (e) {
                    e.preventDefault();
                    document.location = $(this).data('src');
                });
            });
        })(jQuery);
    </script>

{% endblock %}
